# Google Sheets Service Account credentials.
# Create a service account in Google Cloud Console, share the spreadsheet with the
# service account email, and paste credentials here. See README.md for full setup.

GOOGLE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIE...\n-----END PRIVATE KEY-----\n"
SPREADSHEET_ID=1f5tbc-8eMG60Go1ubTldWALc_kwnpaXD_33IsPDWrAk
